WEBUI_URL=https://openwebui.example.com
WEBUI_SECRET_KEY=openssl_rand_-hex_32
BRAVE_SEARCH_API_KEY=my_brave_search_api_key
OLLAMA_BASE_URL=https://ollama-api.example.com
OAUTH_CLIENT_ID=my_oauth_id
OAUTH_CLIENT_SECRET=my_oauth_secret
OPENID_PROVIDER_URL=https://authentik.example.com/application/o/open-webui/.well-known/openid-configuration
OPENID_REDIRECT_URI=https://openwebui.example.com/oauth/oidc/callback