WIREGUARD_PRIVATE_KEY=my_super_secret_key
WIREGUARD_ADDRESSES=00.00.00.00/32
SERVER_CITIES=Bratislava
TIMEZONE=Europe/Bratislava
FF_DL=/home/me/Network_Share/Downloads/Firefox
QB_DL=/home/me/Network_Share/Downloads/Qbit